/*https://shopee.vn/shop/234984535/search*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f63f2e;
    --border-color:#dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-heigh: cacl(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;   
}


/* Responsive */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    /* padding-top: 30px; */
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66647%;
    padding-top: 30px;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    padding-top: 30px;
}



/*Animation*/

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* Animation growth lolen */

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }

    to{
        transform: scale(var(--growth-to));
    }
}


/*Modal*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
   position: relative;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.2s;
    --growth-from: 0.5;
    --growth-to: 1;
}


/*Button style*/
.btn {
    height: 34px;
    min-width: 142px;
    border: none;
    background-color: var(--white-color);
    font-size: 1.4rem;
    border-radius: 2px;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    
}

.btn--side-s {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 8px ;
}

.btn.btn__hover-nomal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Select input  */

.select-input {
    position: relative;
    height: 34px;
    width: 200px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 14px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input_lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input_lable-icon {
    font-size: 1.4rem;
    color: #555;
}


.select-input__list {
    z-index: 1;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0 ;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    padding: 10px 24px;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.select-input__list::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 14px;
    display: block;
    top: -10px;
    right: 4px;
}

.select-input__list-item {
    display: block;
}

.select-input__list-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 0;
    display: block;
}

.select-input__list-link:hover {
    color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item {
   list-style: none;
   margin: 0 16px 0;
}

.pagination__item-icon {

}

.pagination__item-active .pagination__item-link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination__item-active .pagination__item-link:hover {
    opacity: 0.9;
}

.pagination__item-link {
    display: block;
    text-decoration: none;
    font-size: 2.0rem;
    color: #a0a0a0;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
